* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-imagine {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

header {
    margin: 44px 0 144px 76px;

}

.link-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
}

.button-login {
    background: #665AE1;
    border-radius: 35px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    cursor: pointer
}

section {
    display: inline-block;
    margin-left: 86px;
}


h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;

}

p {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;

}

.button-main {
    background: #ADFF00;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    Width: 239px;
    Height: 64px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

@media screen and (max-width: 905px) {
    .menu-principal {
        display: block;
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }
    h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 71px;
        color: #515151;
        margin-top: 320px;
        margin-left: -18px;
    }
        
    

    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        width: 278px;
        height: auto;
        margin: 290px 55px 29px -20px;
        ;
    }

    p {
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        position: absolute;
        width: 304px;
        height: auto;
        margin-left: -20px;
        margin-right: 43px;
        margin-top: 10px;

    }

    .logo-imagine {
        display: block;
        position: absolute;
        margin: 264px 39px 45px 22px;
        Height: 269px;
        width: auto;
        margin-top: -28px;
        margin-left: 57px;

    }

    .link-header {
        display: none;
    }

    a {
        position: absolute;
        width: 113px;
        height: 27px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        margin: 215px 130px;

    }

    .button-login {
        background: #665AE1;
        border-radius: 35px;
        width: 130px;
        height: 41px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        margin-left: 195px;
    }

    .button-main {
        margin-top: 395px;
        margin-left: 30px;
        background: #ADFF00;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        Width: 239px;
        Height: 64px;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #000000;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


    }

  